<div class="row">
    <div class="content col-lg-6" style="background-color: #000;">
        <div class="panel panel-default">
          <div class="panel-heading">Map</div>
          <div class="panel-body">
              <div class="mybox"> </div>
          </div>
         </div>
      </div>
    
      <div class="content col-lg-6" style="background-color: #f00;">
        <div class="panel panel-default">
          <div class="panel-heading">Map</div>
          <div class="panel-body">
              <div class="mybox"> </div>
          </div>
         </div>
      </div>
</div>

<style>
    html, body {
        height: 100%;
        width: 100%;
    }
    .content {
        height: 100%;
    }
     .panel {
        height: 100%;
    }
    .panel-body {
        height: calc(100vh - 200px);
        overflow-y: auto; 
    }
    
  </style>
